// Colors
$primary-color: #3498db;
$secondary-color: #2ecc71;
$text-color: #333333;
$background-color: #f4f4f4;
$border-color: #e0e0e0;

$scrollbar-bg-color: #4d4d4d;
$scrollbar-thumb-color: #a7a7a7;

// Typography
$font-size-p-big: 1rem;
$font-weight-p-big: 400;
$line-height-p-big: 1.6;

// Breakpoints
$breakpoint-lg: 1024px;

// Border radii
$radius-round: 50%;
$radius-rounded: 5rem;
$radius-rounded-subtle: 1rem;
$radius-rounded-extra-subtle: 0.5rem;