@import "./entityNote.mixins.scss";

.notes {
	*{
		width: 100%;
	}

	p {
		@include note-area($font-style: italic, $border-c: rgb(172, 172, 172));
	}

	textarea {
		@include note-area();
		resize: none;

		&:focus {
			outline: none;
		}
	}
}