@use "/src/sass/base/reset";

// Desktop
$h1-size-desktop: calc(3vw + 1.2em);
$header-size-desktop: 10vw; // TODO: Use a mixin to set this instead. So we send something like button($size: 10vw) -- @mobile ($size: 15vw) or whatever
$button-size-desktop: 5vw;

$button-hover-color: blue;

header {
	display: flex;
	align-items: center;
	justify-content: space-between;

	background-color: rgb(194, 226, 255);
	width: 100%;
	padding: 1rem;

	> * {
		display: inline;
	}

	div {
		display: flex;
	}

	button {

		display: flex;
		align-items: center;
		justify-content: center;
		background-color: rgb(255, 255, 255);
		color: black;
		border-radius: 50%;

		margin: 0 1rem;
		min-width: $button-size-desktop;
		min-height: $button-size-desktop;

		font-size: calc($button-size-desktop / 2);


		svg {
			max-width: calc($button-size-desktop * 0.7);
			max-height: calc($button-size-desktop * 0.7);
		}
	}

	button:hover:not(.disabled) {
		cursor: pointer;
		color: blue;
	}

	#header-btn-favorites:hover {
		color: red;
	}

	h1 {
		color: #40b5cb;
		text-shadow: #b7d640 2px 2px;
		font-size: $h1-size-desktop;
		line-height: 1.1;
		-webkit-text-stroke-width: 1px;
		-webkit-text-stroke-color: #284649;
	}
}